<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>login</h1>
    <form>
        <input type="text" name="first_name" placeholder="add first name" required/>
        <!-- <input type="text" name="last_name" placeholder="add last name" required/>
        <input type="text" name="user_name" placeholder="add user name" required/>
        <input type="email" name="email" placeholder="add email id" required/>
        <input type="password" name="password" placeholder="add password" required/>
        <input type="password" name="confirm_password" placeholder="confirm password" required/> -->
        <button type="submit">Create</button>
    </form>
</body>
</html>